body {
    background-image: -webkit-radial-gradient(circle, #5680E9, #84CEEB, #5AB9EA, #C1C8E4, #8860D0);
    overflow: hidden;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.board {
    width: 500px;
    height: 300px;
    background-color: deepskyblue;
    position: relative;
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 20px;
}

.board:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -10px;
    border-radius: inherit;
    background-image: linear-gradient(to right bottom, #6ef46e, #30e2c4, #4bb1e9);
}